*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.promptBox {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    background-color: red;
    margin:0 ;
}
form {

   
}