*,
*::before,
*::after {

  box-sizing: border-box;
}

html,
body, 
.main-page,
.wrapper {

  margin: 0 auto;
}

body {

  background-color: #222260;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {

  padding-top: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 2.2em;
  display: grid;
  grid-template-rows: minmax(21em, auto);
}

.container-main-page {

  display: flex;
  align-items: center;
  justify-content: center;
}

header {

  font-family: 'Montserrat', sans-serif;
  color:#e0e0e0;
  height: 15rem;
  width: 15rem;
  background: rgba(255, 255, 255, 0.57);
  border: 1em solid;
  border-radius: 100%;
  background-image: url(../css/images/eyedarkblue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.text-container {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  color:#e0e0e0;
}

.title {

  color: #e0e0e0;
  margin: 0;
}

.title-question {

  color: #e0e0e0;
  font-size: 1em;
}

.main-screen {

  margin-top: 3em;
  text-align: center;
  border: .5em solid #e0e0e0;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.57);
  height: 20rem;
  padding-top: 5em;
}

.card {

  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {

  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {

  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer {

  text-align: center;
}

.card-footer::before {

  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {

  content: " ";
  display: block;
  clear: both;
}

.btn {

  border: none;
  background-color: #222260;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #e0e0e0;
  display: inline-block;
  line-height: 1.5;
  margin: 2em 1em 1em 1em;
  padding: 14px 34px;
  text-align: center;
}

.btn:hover {

  background-color: #ee6659;
  border: .5em solid #222260;
  transition: 0.06s;
  cursor: pointer;
}

button[disabled] {

  cursor: default;
  background: #c0c7cf;
}

.float-right {

  float: right;
}

#password {  

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5.5rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: .8rem;
  margin-bottom: .8rem;
  border: .2rem dashed #c0c7cf;
  border-radius: .5rem;
  resize: none;
  overflow: hidden;
}

/*Begin Media Queries*/

@media (min-width: 43rem) {

  .main-screen {

    margin-right: 15%;
    margin-left: 15%;
  }

  .card {

    padding: 5rem;
  }
}


@media (min-width: 62rem) {

  .btn {

    font-size: 1rem;
  }

  .card {

    padding: 10rem;
  }

  .title-question {
     
    font-size: 1.5em;
  }

  .text-container {
 
    font-size: 1.8rem;
  }
}  

@media (min-width: 82rem) {

  .btn {

    padding: .5rem 4rem;
    margin-top: 2rem;
  }

  .card {

    padding: 10rem;
  }

  .main-screen {

    margin-right: 20%;
    margin-left: 20%;
  }
}



